* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fb;
}

.header {
    background: linear-gradient(90deg, #1e6bff, #0b4edb);
    color: white;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    font-size: 22px;
    font-weight: bold;
}

.search {
    width: 300px;
    padding: 8px 14px;
    border-radius: 20px;
    border: none;
}

.header-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
}

.welcome {
    background: white;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.progress-box {
    width: 200px;
}

.progress-bar {
    height: 8px;
    background: #e5e7eb;
    border-radius: 10px;
    margin-top: 6px;
}

.progress {
    width: 68%;
    height: 100%;
    background: #2563eb;
    border-radius: 10px;
}

h3 {
    margin: 20px 0;
    color: #2563eb;
}

.course-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 12px;
    width: calc(33.333% - 14px);
    padding: 14px;
    transition: 0.3s;
    
}
.card:hover{
   transform: translateY(-8px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h4 {
    margin: 10px 0 4px;
}

.card p {
    font-size: 14px;
    color: gray;
}

.card button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

@media (max-width: 992px) {
    .card {
        width: calc(50% - 10px);
    }

    .search {
        width: 200px;
    }
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        gap: 10px;
    }

    .search {
        width: 100%;
    }

    .welcome {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .card {
        width: 100%;
    }
}
.big-course .card {
    width: calc(50% - 10px);
}

.big-course img {
    height: 220px;
    object-fit: cover;
}